{% extends "base.html" %}
{% block title %}
    Odebrane wiadomości
{% endblock title %}
{% block main_content %}
    <div class="div2">
        Dotyczy postu - <span style="font-size: 28px; ">{{ message.title }}</span>
    </div>
    <div class="div4">
        {% for obj in czat %}
            <div class="div1">
                <h3>
                    <b>{{ obj.msg }}</b>
                </h3>
                <div class="div2">{{ obj.sender_id }} - {{ obj.sendDate }}</div>
            </div>
        {% endfor %}
        <div class="div3">
            <a href='/msg/napisz/{{ message.slug }}'>Odpowiedz</a>
        </div>
    </div>
{% endblock main_content %}
