{% extends "base.html" %}
{% block title %}
    Odebrane wiadomości
{% endblock title %}
{% block main_content %}
    <div>
        <div class="div1">
            <h2>
                <b>{{ message.msg }}</b>
            </h2>
        </div>
        <div class="div2">
            Dotyczy postu
            <br />
            <b>{{ message.title }}</b>
        </div>
        <div class="div2">
            Od - <b>{{ message.sender_id }}</b>
        </div>
        <div class="div2">
            Wysłano - <b>{{ message.sendDate }}</b>
        </div>
    </div>
    <div><a href='/msg/napisz/{{ message.slug }}'>Odpowiedz</a></div>
{% endblock main_content %}
